.btn {
	background: white;
	border: 0;
	width: 10px;
	height: 10px;
	border-radius: 100vh;
	cursor: pointer;
	opacity: 0.17;
}

.current {
	opacity: 1;
}

@media (min-width: 80em) {
	.btn {
		width: 15px;
		height: 15px;
	}
}
