/* .dest {
	background-image: url(../../bg-images/destination/background-destination-mobile.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #fff;
}

@media (min-width: 50em) {
	.dest {
		background-image: url(../../bg-images/destination/background-destination-tablet.jpg);
	}
}

@media (min-width: 80em) {
	.dest {
		background-image: url(../../bg-images/destination/background-destination-desktop.jpg);
	}
} 
*/

.dest {
	background: black;
	color: white;
	min-height: 100vh;
}
