.home {
	background-image: url(../../assets/home/background-home-mobile.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.main {
	margin-top: 4rem;
}

.main__title,
.main__subtitle {
	color: var(--clr-accent);
}

.main__title {
	font-size: 1rem;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}

.main__title span {
	color: var(--clr-white);
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
	font-size: 5rem;
	display: block;
	margin: 1rem 0;
}

.main__subtitle {
	font-size: 0.938rem;
	margin-bottom: 5.063rem;
	max-width: 39ch;
	margin-inline: auto;
	line-height: 1.65;
}

.main__button {
	display: flex;
	justify-content: center;
}

.btn {
	border-radius: 50%;
	width: 150px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	font-size: 1.25rem;
	color: var(--clr-dark);
	background: var(--clr-white);
	position: relative;
	z-index: 1;
}

.btn::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 700ms linear, transform 600ms ease-in-out;
}

.btn:hover::after {
	opacity: 1;
	transform: scale(1.5);
}

/* media query for tablets screens */
@media (min-width: 50em) {
	.home {
		background-image: url(../../assets/home/background-home-tablet.jpg);
		background-position: top;
	}

	.main__title {
		font-size: 1.25rem;
		margin-top: 6.625rem;
	}

	.main__title span {
		font-size: 9.375rem;
		margin: 1.5rem 0;
	}

	.main__subtitle {
		font-size: 1rem;
		max-width: 49ch;
		margin-bottom: 9.75rem;
	}

	.btn {
		font-size: 2rem;
		width: 242px;
		margin-bottom: 5.625rem;
	}
}

/* media query for desktop screens */
@media (min-width: 80em) {
	.home {
		background-image: url(../../assets/home/background-home-desktop.jpg);
	}

	.main {
		margin-top: 10rem;
	}

	.main__title {
		font-size: 1.75rem;
		letter-spacing: 4.72px;
	}

	.main__subtitle {
		font-size: 1.125rem;
		line-height: 1.78;
		max-width: 45ch;
	}

	.main__button {
		display: flex;
		justify-content: flex-end;
	}

	.btn {
		width: 274px;
		font-size: 2rem;
	}
}
