.slider {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.slider__img {
	max-width: 177.12px;
}

.slider__btn {
	display: flex;
	gap: 1rem;
	margin: 2rem 0;
}

@media (min-width: 50em) {
	.slider__img {
		max-width: 456.37px;
	}
}

@media (min-width: 80em) {
	.slider {
		grid-template-rows: 100px 1fr;
	}
	.slider__img {
		grid-column: 2;
		grid-row: 1/-1;
		margin-top: -5rem;
		max-width: 100%;
	}

	.slider__info {
		grid-column: 1;
		grid-row: 2;
		justify-self: start;
	}

	.slider__btn {
		justify-self: start;
		grid-column: 1;
		grid-row: 2;
		align-self: flex-end;
		margin-bottom: 4rem;
		gap: 2rem;
	}
}
