.header__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding-left: 2rem;
}

.nav__list {
	display: flex;
	gap: 2.875rem;
	font-family: 'Barlow Condensed', sans-serif;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(81.5485px);
	-webkit-backdrop-filter: blur(81.5485px);
	/* background: rgba(10, 10, 10, 0.9); */
}

.list__link {
	color: var(--clr-white);
	text-transform: uppercase;
	display: inline-block;
	padding-block: 2.438rem 2.375rem;
	position: relative;
	letter-spacing: 2.7px;
}

.list__link span {
	margin-right: 0.5rem;
	font-weight: 700;
}

.list__link:hover:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	background: var(--clr-white);
	opacity: 0.5;
	bottom: 0;
	left: 0;
}

.page__active::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	background: var(--clr-white);
	bottom: 0;
	left: 0;
}

.mobile__menuIcon {
	display: none;
}

/* media query for mobile menu */
@media (max-width: 50em) {
	.nav__list {
		flex-direction: column;
		position: fixed;
		right: 0;
		top: 0;
		width: 75%;
		transform: translateX(100%);
		transition: all 300ms ease-in;
		height: 100vh;
		z-index: 2;
	}
	.active {
		transform: translateX(0);
	}

	.list__item {
		margin-left: 2rem;
	}

	.list__item:first-child {
		margin-top: 7.375rem;
	}

	.list__link {
		padding-block: 0;
		margin-inline: 2.5rem;

		display: block;
	}
	.list__link:hover::after,
	.page__active::after {
		position: absolute;
		content: '';
		width: 4px;
		height: 100%;
		background: var(--clr-white);
		bottom: 0;
		left: 100%;
	}

	.mobile__menuIcon {
		padding: 2rem;
		display: block;
		cursor: pointer;
		z-index: 3;
	}
}

/* media query for tablets screens */
@media (min-width: 50em) {
	.list__item:first-child {
		margin-left: 2.875rem;
	}
	.list__item:last-child {
		margin-right: 2.875rem;
	}
}

/* media query for desktop screens */
@media (min-width: 80em) {
	.header__flex {
		padding-top: 2.5rem;
	}

	.nav {
		position: relative;
	}

	.nav__list::before {
		position: absolute;
		content: '';
		background: var(--clr-white);
		opacity: 0.25;
		width: 40%;
		height: 3px;
		right: 95%;
		top: 50%;
	}

	.nav__list {
		background: rgba(255, 255, 255, 0.2);
	}

	.nav__list {
		gap: 3rem;
	}

	.list__item:first-child {
		margin-left: 10.438rem;
	}
	.list__item:last-child {
		margin-right: 10.438rem;
	}
}
