.tab {
	display: grid;
	grid-template: 1fr 100px 1fr/ 1fr;
	gap: 2rem;
	justify-items: center;
}

.tab__btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

@media (min-width: 80em) {
	.tab {
		grid-template: 80px 1fr 1fr / repeat(2, 1fr);
	}

	.tab__img {
		grid-column: 1;
		grid-row: 1/-1;
	}

	.tab__info {
		grid-column: 2/-1;
	}
	.tab__btn {
		grid-column: 2;
		justify-self: start;
	}
}
