/* .tab {
	/* border: 1px solid orange; 
	display: flex;
}

.tab__info {
	display: flex;
}

.tab__btn {
	display: flex;
	align-items: center;
}

.tab__img {
	border: 1px solid red;
	width: 200px;
	height: 200px;
	margin: 1rem;
}
*/

.tab {
	display: flex;
}

.tab__img {
	border: 1px springgreen solid;
}

.tab__info {
	border: 1px saddlebrown solid;
}

.tab__img img {
	width: 200px;
}
button {
	padding: 1rem 2.5rem;
	background: blueviolet;
	border: 0;
}
.current {
	background: thistle;
}
