.tab {
	text-align: center;
}

.tab__title {
	font-size: 3.5rem;
	margin-bottom: 5px;
	font-family: 'Bellefair', serif;
}

.tab__subtitle {
	max-width: 38ch;
	font-size: 0.938rem;
	margin: 0 auto;
	line-height: 1.7;
	color: var(--clr-accent);
}

.tab__dataFlex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.75rem;
}
.tab__data {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 4rem 0;
}

.data {
	font-size: 1.75rem;
	font-family: 'Bellefair', serif;
}

.tab__dataInfo {
	font-size: 0.875rem;
	color: var(--clr-accent);
	letter-spacing: 2.36px;
}

@media (min-width: 50em) {
	.tab__title {
		font-size: 5rem;
	}
	.tab__subtitle {
		font-size: 1rem;
		max-width: 64ch;
	}
	.tab__data {
		flex-direction: row;
		justify-content: center;
		gap: 2.5rem;
	}
}

/* media query for desktop screens */
@media (min-width: 80em) {
	.tab {
		text-align: left;
	}
	.tab__title {
		font-size: 6.25rem;
	}
	.tab__subtitle {
		font-size: 1.125rem;
		max-width: 44ch;
		margin-left: 0;
	}

	.tab__data {
		justify-content: flex-start;
		gap: 4.938rem;
	}

	.tab__dataFlex {
		align-items: flex-start;
	}
}
