:root {
	/* colors */
	--clr-dark: #0b0d17;
	--clr-accent: #d0d6f9;
	--clr-white: #ffffff;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	line-height: 1.5;
	min-height: 100vh;
	font-size: 1.125rem;
	font-family: 'Barlow', sans-serif;
	background: black;
}

img {
	max-width: 100%;
	box-sizing: content-box;
	display: block;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 400;
	font-family: 'Barlow Condensed', sans-serif;
	line-height: 1.1;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 90%;
	margin-inline: auto;
}

.grid__container {
	display: grid;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.subtitle {
	font-size: 0.938rem;
	max-width: 39ch;
	margin: 0 auto;
	line-height: 1.65;
	color: var(--clr-accent);
}

.tech-crewTitle {
	color: var(--clr-white);
	font-size: 1.5rem;
	font-family: 'Bellefair', serif;
	text-transform: uppercase;
}

@media (min-width: 50em) {
	.subtitle {
		font-size: 1rem;
		max-width: 49ch;
		margin-bottom: 9.75rem;
	}
	.tech-crewTitle {
		font-size: 2.5rem;
	}
}

/* media query for desktop screens */
@media (min-width: 80em) {
	.grid__container {
		grid-template-columns: minmax(1.5rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
				1.5rem,
				1fr
			);
		column-gap: 2rem;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.grid__container > *:first-child {
		grid-column: 2;
		text-align: left;
	}

	.grid__container > *:last-child {
		grid-column: 3;
	}

	.subtitle {
		font-size: 1.125rem;
		line-height: 1.78;
		max-width: 45ch;
		margin-left: 0;
	}

	.tech-crewTitle {
		font-size: 3.5rem;
	}
}
